<% layout('layouts/boilerplate') %>
    <h1 class="text-center">The Camp Ground</h1>
    
    <div class="row">
    <div class="col-6 mt-2">
    <div class="card mb-3" style="width: 30rem;">
        <img src="<%= Camp.image %>" class="card-img-top " width="100%" height="400px" alt="<%= Camp.image %>">
        <div class="card-body">
            <h5 class="card-title fw-bolder"><%= Camp.title %></h5>
            <p class="card-text"><%= Camp.description %></p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Location : <%= Camp.location %></li>
                <li class="list-group-item">Price : <%=Camp.price  %>/hr</li>
                <li class="list-group-item"><button class="btn btn-info "><a class="text-decoration-none text-white" href="/campgrounds/<%= Camp.id%>/edit">Edit Camp</a></button> <form class="d-inline m-2" action="/campgrounds/<%= Camp.id %>?_method=DELETE" method="post">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form></li>
              </ul>
        </div>
        
        
      </div>
    </div>
        <div class="col-6 card mb-5">
            <h2 class="m-2">Leave a Review </h2>
        <form action="/campgrounds/<%= Camp._id %>/reviews" class="needs-validation" method="post" novalidate>
            <div class="m-2">
            <label for="customRange2" class="form-label m-2" >Rating 0 - 5</label>
            <input type="range" class="form-range " min="0" max="5" name="review[rating]" id="customRange2"  required>
            <div class="valid-feedback">
                Looks good!
              </div>
            </div>
            <div class="form-floating mx-2">
                <textarea class="form-control " style="height: 160px;" placeholder="Leave a Review here" name="review[body]" required  id="floatingTextarea"></textarea>
                <label for="floatingTextarea">Write Your Review</label>
                <div class="valid-feedback">
                    Looks good!
                  </div>
              </div>
            <button class="btn mt-2 btn-success mx-2" type="submit">Submit</button>
        </form>
            <% for(let review of Camp.reviews) { %>
                <div class="card mb-3 m-2">
                    <div class="card-body">
                        <h5 class="card-title">Rating : <%=review.rating  %></h5>
                        <p class="card-text">
                            <%= review.body %>
                        </p>
                        <form action="/campgrounds/<%= Camp._id %>/review/<%= review._id %>?_method=DELETE" method="post">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
                <% } %>
        </div>
    </div>
    
